<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988784515935-h5p4sc5ueanl7gpk35chjgifpv4ud87g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988784515935-h5p4sc5ueanl7gpk35chjgifpv4ud87g</string>
	<key>API_KEY</key>
	<string>AIzaSyBqz5F8BayIe2XOGo85uOT4nDoK5Vm6qtE</string>
	<key>GCM_SENDER_ID</key>
	<string>988784515935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.defido</string>
	<key>PROJECT_ID</key>
	<string>defido-cbc03</string>
	<key>STORAGE_BUCKET</key>
	<string>defido-cbc03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988784515935:ios:e184f658cd2008796df4ea</string>
</dict>
</plist>